NODE_ENV=development

ASTRO_KEY="xxx"
BETTER_AUTH_SECRET="xxx"
DB_AUTH_TOKEN="xxx"
HIDDIFY_API_KEY="xxx"

LOG_LEVEL="debug"
SITE_URL="http://localhost:4321"
STRIPE_SECRET_KEY="sk_xxx"
STRIPE_WEBHOOK_SECRET="xxx"
TURNSTILE_SECRET_KEY="xxx"

######################################
#       Public deployment            #
######################################

SENTRY_PROJECT=project
SENTRY_ORG=org
SENTRY_TOKEN="sntrys_xxx"

POSTMARK_TOKEN="xxx"
PUBLIC_GTM_ID="umami"
PUBLIC_SENTRY_DSN="https://ingest.us.sentry.io"
PUBLIC_TURNSTILE_SITEKEY="xxx"
