---
import AccountDetails from "@/components/account/AccountDetails";
import AccountLinks from "@/components/account/AccountLinks";
import AccountPortal from "@/components/account/AccountPortal";
import DashboardLayout from "@/layouts/DashboardLayout.astro";
import SubHeader from "@/layouts/SubHeader.astro";
---

<DashboardLayout title="Account">
  <div class="flex flex-col w-full max-w-2xl gap-6 py-4 mx-auto">
    <SubHeader title="Account" />
    <AccountDetails client:load />
    <AccountPortal client:load />
    <AccountLinks client:load />
  </div>
</DashboardLayout>
