---
import AccountDetails from "@/components/AccountDetails";
import DashboardLayout from "@/layouts/DashboardLayout.astro";
import SubHeader from "@/layouts/SubHeader.astro";
---

<DashboardLayout title="Account">
  <div class="flex flex-col min-h-screen w-full max-w-3xl py-4 mx-auto">
    <SubHeader title="Account details" />
    <AccountDetails client:load />
  </div>
</DashboardLayout>
