---
import { UAParser } from "ua-parser-js";

import ApiStatus from "@/components/ApiStatus";
import DashboardLayout from "@/layouts/DashboardLayout.astro";

const { origin } = Astro.url;
const { session } = Astro.locals;
const device = UAParser(session?.userAgent || "");
---

<DashboardLayout title="Debug">
  <div class="mx-auto flex w-full max-w-2xl flex-col gap-6 py-4">
    <ApiStatus device={device} origin={origin} client:only="react" />
  </div>
</DashboardLayout>
