---
import DashboardUI from "@/components/Dashboard";
import { setupNewUserProfile } from "@/db/mutations";
import { getProfileById } from "@/db/queries";
import DashboardLayout from "@/layouts/DashboardLayout.astro";

// Get session data
const { session, userSession } = Astro.locals;
const isVerified = userSession!.emailVerified;
const id = userSession!.id;

// For verified first time users, setup their profile
if (isVerified) {
  const profile = await getProfileById(id);
  if (!profile) {
    await setupNewUserProfile(id);
  }
}
---

<DashboardLayout title="Dashboard">
  <div class="flex min-h-screen w-full flex-col gap-4 py-4">
    <DashboardUI userSession={userSession!} session={session!} client:load />
  </div>
</DashboardLayout>
