---
import crypto from "node:crypto";

import DashboardUsage from "@/components/dashboard/DashboardUsage";
import ShowWelcome from "@/components/dashboard/WelcomeMsg";
import DashboardLayout from "@/layouts/DashboardLayout.astro";
import Header from "@/layouts/Header.astro";

const { user } = Astro.locals;

let showWelcomeMsg = false;

// Only show welcome if the cookie didn't exist already
const uniqueLoginCookie = crypto
  .createHash("md5")
  .update(user.email)
  .digest("hex");
const previouslyShowedWelcome = Astro.cookies.has(uniqueLoginCookie);
if (!previouslyShowedWelcome) {
  showWelcomeMsg = true;

  Astro.cookies.set(uniqueLoginCookie, "true", {
    maxAge: 2147483647,
    path: "/dashboard",
    sameSite: "lax",
  });
}
---

<DashboardLayout title="Dashboard">
  <div class="mx-auto flex w-full max-w-xl flex-col gap-5 py-6">
    <Header title="Overview" />
    {showWelcomeMsg && <ShowWelcome client:load name={user.name} />}
    <DashboardUsage client:load />
  </div>
</DashboardLayout>
