---
import crypto from "node:crypto";

import DashboardUsage from "@/components/dashboard/DashboardUsage";
import ShowWelcome from "@/components/dashboard/WelcomeMsg";
import DashboardLayout from "@/layouts/DashboardLayout.astro";
import SubHeader from "@/layouts/SubHeader.astro";

const { user } = Astro.locals;

let shouldShowWelcome = false;

// Only show welcome if the cookie didn't exist already
const uniqueLoginCookie = crypto
  .createHash("md5")
  .update(user.email)
  .digest("hex");
const showedWelcome = Astro.cookies.get(uniqueLoginCookie);
if (!showedWelcome?.value) {
  shouldShowWelcome = true;

  Astro.cookies.set(uniqueLoginCookie, "true", {
    maxAge: 2147483647,
    path: "/dashboard",
    sameSite: "lax",
  });
}
---

<DashboardLayout title="Dashboard">
  <div class="flex flex-col w-full max-w-2xl gap-6 py-4 mx-auto">
    <SubHeader title="Overview" />
    {shouldShowWelcome && <ShowWelcome client:load name={user.name} />}
    <DashboardUsage client:load />
  </div>
</DashboardLayout>
