---
import { UAParser } from "ua-parser-js";

import ScrollProgress from "@/components/astro/scroll.astro";
import HowToInstall from "@/components/HowToInstall";
import DashboardLayout from "@/layouts/DashboardLayout.astro";
import Header from "@/layouts/Header.astro";
import { getPlatform } from "@/lib/utils";

import configData from "@/assets/config.json";

const { session } = Astro.locals;
const { device, os } = UAParser(session?.userAgent || "");
const platform = getPlatform(device, os);

const config = JSON.stringify(configData, null, 0);
---

<DashboardLayout title="Installation">
  <ScrollProgress />
  <div class="mx-auto flex w-full max-w-2xl flex-col gap-5 py-6">
    <Header title="Installation" />
    <p
      class="font-mono text-muted-foreground text-center text-xs tracking-wider uppercase"
    >
      Select your platform below
    </p>
    <HowToInstall platform={platform} config={config} client:load />
  </div>
</DashboardLayout>
