---
import { captureException } from "@sentry/astro";
import { UAParser } from "ua-parser-js";

import ScrollProgress from "@/components/astro/scroll.astro";
import HowToInstall from "@/components/HowToInstall";
import {
  FILE_CONFIG_JSON,
  FILE_CONFIG_KEY,
  FILE_DOWNLOAD_URL,
} from "@/config/constants";
import DashboardLayout from "@/layouts/DashboardLayout.astro";
import Header from "@/layouts/Header.astro";
import { axiosFetch } from "@/lib/axios";
import { storage } from "@/lib/redis";
import { getPlatform } from "@/lib/utils";

const { session } = Astro.locals;
const { device, os } = UAParser(session?.userAgent || "");
const platform = getPlatform(device, os);

// Get the config from cache (24hr TTL)
let config: string | null = await storage.getItemRaw(FILE_CONFIG_KEY);
if (!config) {
  console.debug(FILE_CONFIG_KEY, "cache-miss");
  try {
    const { data } = await axiosFetch.get(
      `${FILE_DOWNLOAD_URL}${FILE_CONFIG_JSON}`,
    );
    config = JSON.stringify(data, null, 0);
    await storage.set(FILE_CONFIG_KEY, config, { ttl: 60 * 60 * 24 });
  } catch (e) {
    captureException(e);
  }
}

if (!config) {
  config = "Unknown error, please refresh page...";
}
---

<DashboardLayout title="Installation">
  <ScrollProgress />
  <div class="mx-auto flex w-full max-w-2xl flex-col gap-5 py-6">
    <Header title="Installation" />
    <p
      class="font-mono text-muted-foreground text-center text-xs tracking-wider uppercase"
    >
      Select your platform below
    </p>
    <HowToInstall platform={platform} config={config} client:load />
  </div>
</DashboardLayout>
