---
import HowToInstall from "@/components/HowToInstall";
import { getHiddifyLink } from "@/db/queries";
import DashboardLayout from "@/layouts/DashboardLayout.astro";
import SubHeader from "@/layouts/SubHeader.astro";
import { UAParser } from "ua-parser-js";

const { session, user } = Astro.locals;

const url = getHiddifyLink(user.email, user.profile?.hiddifyId);

const userAgent = new UAParser(session?.userAgent)
const device = userAgent.getDevice().type;
const os = userAgent.getOS().name;
---

<DashboardLayout title="Dashboard">
  <div class="flex flex-col w-full max-w-2xl min-h-screen gap-6 py-4 mx-auto">
    <SubHeader title="How to Install" />
    <HowToInstall url={url} device={device} os={os} client:load />
  </div>
</DashboardLayout>
