---
import PricingPlans from "@/components/PricingPlans";
import DashboardLayout from "@/layouts/DashboardLayout.astro";
import Header from "@/layouts/Header.astro";
---

<DashboardLayout title="Plans">
  <div class="container mx-auto flex w-full flex-col py-6">
    <div class="flex flex-col items-center text-center">
      <Header title="Plans" />
      <div class="mt-2 w-24 border-t border-primary/30"></div>
    </div>

    <PricingPlans client:load transition:persist />
  </div>
</DashboardLayout>
