---
import PricingForm from "@/components/PricingForm";
import DashboardLayout from "@/layouts/DashboardLayout.astro";
---

<DashboardLayout title="Plans">
  <div class="container flex flex-col w-full min-h-screen py-4 mx-auto mb-20">
    <div class="flex flex-col text-center items-center py-4">
      <h2 class="font-heading text-3xl sm:text-4xl md:text-5xl">Plans</h2>
      <hr class="border-border border-t py-2 mt-2 w-32" />
      <p class="max-w-md leading-normal text-muted-foreground sm:text-lg sm:leading-7">
        You have a choice between buying a single month or a regular subscription.
      </p>
    </div>

    <PricingForm client:load />
  </div>
</DashboardLayout>
