---

---

<div
  class="fixed top-16 left-0 z-50 h-1 w-full bg-transparent"
  aria-hidden="true"
>
  <div class="bg-secondary/70 h-full w-0" id="progress-scroll"></div>
</div>

<script>
  function updateProgressScroll() {
    if (document) {
      const progressScroll = document.getElementById("progress-scroll");

      if (progressScroll) {
        const scrollTop = window.scrollY || document.documentElement.scrollTop;
        const scrollHeight =
          document.documentElement.scrollHeight - window.innerHeight;
        const progress = (scrollTop / (scrollHeight - 500)) * 100;
        progressScroll.style.width = progress + "%";
      }
    }
  }
  window.addEventListener("scroll", function () {
    updateProgressScroll();
  });

  window.addEventListener("load", function () {
    updateProgressScroll();
  });
</script>
