---
import { Icon } from "astro-icon/components";
---

<button
  id="themeToggle"
  class="my-2 flex cursor-pointer items-center border-transparent bg-transparent align-middle"
>
  <Icon
    name="lucide:sun"
    class="size-5 scale-100 rotate-0 transition-all duration-500 dark:scale-0 dark:-rotate-90"
  />
  <Icon
    name="lucide:moon"
    class="absolute size-5 scale-0 rotate-90 transition-all duration-500 dark:scale-100 dark:rotate-0"
  />
  <span class="sr-only">Toggle theme</span>
</button>

<script is:inline>
  function getTheme() {
    const localStorageTheme = localStorage?.getItem("theme") ?? "";
    if (["dark", "light"].includes(localStorageTheme)) {
      return localStorageTheme;
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  }

  function applyTheme() {
    if (getTheme() === "light") {
      document.documentElement.classList.remove("dark");
    } else {
      document.documentElement.classList.add("dark");
    }
  }
  applyTheme();
  window.localStorage.setItem("theme", getTheme());

  const handleToggleClick = () => {
    const element = document.documentElement;
    element.classList.toggle("dark");

    const isDark = element.classList.contains("dark");
    localStorage.setItem("theme", isDark ? "dark" : "light");
  };

  document
    .getElementById("themeToggle")
    .addEventListener("click", handleToggleClick);

  document.addEventListener("astro:after-swap", () => {
    applyTheme();
    window.localStorage.setItem("theme", getTheme());
    document
      .getElementById("themeToggle")
      .addEventListener("click", handleToggleClick);
  });
</script>
