@tailwind base;
@tailwind components;
@tailwind utilities;

/* inter-200 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/inter-v18-latin-200.woff2") format("woff2");
}

/* inter-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/inter-v18-latin-regular.woff2") format("woff2");
}

/* inter-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/inter-v18-latin-600.woff2") format("woff2");
}

/* inter-800 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/inter-v18-latin-800.woff2") format("woff2");
}

@layer base {
  :root {
    --background: 204 60% 98%;
    --foreground: 204 70% 4%;
    --muted: 204 21% 89%;
    --muted-foreground: 204 15% 40%;
    --popover: 204 60% 98%;
    --popover-foreground: 204 70% 4%;
    --card: 204 60% 97%;
    --card-foreground: 204 70% 3%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --primary: 204 98% 31%;
    --primary-foreground: 0 0% 100%;
    --secondary: 204 4% 92%;
    --secondary-foreground: 204 4% 32%;
    --accent: 204 13% 83%;
    --accent-foreground: 204 13% 23%;
    --destructive: 15 88% 42%;
    --destructive-foreground: 0 0% 100%;
    --ring: 204 98% 31%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 204 43% 4%;
    --foreground: 204 31% 99%;
    --muted: 204 21% 11%;
    --muted-foreground: 204 15% 60%;
    --popover: 204 43% 4%;
    --popover-foreground: 204 31% 99%;
    --card: 204 51.18% 6.51%;
    --card-foreground: 0 0% 100%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --primary: 204 98% 31%;
    --primary-foreground: 0 0% 100%;
    --secondary: 141.33 14.13% 21.64%;
    --secondary-foreground: 204 3% 78%;
    --accent: 204 9% 28%;
    --accent-foreground: 204 9% 88%;
    --destructive: 15 88% 53%;
    --destructive-foreground: 0 0% 100%;
    --ring: 204 98% 31%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}
