---
import Base from "@/layouts/Base.astro";
import Sign from "/hand-sign-static.svg?raw";

export const prerender = true;
---

<Base title="Not Found">
  <main class="container max-w-lg">
    <a
      href="/"
      class="m-auto flex h-[100vh] w-full items-center justify-center px-6 md:px-12"
    >
      <Fragment set:html={Sign} />
    </a>
  </main>
</Base>
