---
import { Button } from "@/components/ui/button";
import { Input } from "@/components/ui/input";
import { apiServer } from "@/server/backend";
import { createForm } from "simple:form";
import z from "zod";
export const prerender = false;

let user = "";
const form = createForm({
  id: z.string().min(1).max(20),
});

const res = await Astro.locals.form.getData(form);
if (res?.data) {
  const response = await apiServer.user[":id"].$get({
    param: { id: res.data.id },
  });
  const json = await response.json();
  user = JSON.stringify(json, null, 2);
}

const hasError = res?.fieldErrors;
---

<form
  method="POST"
  class="flex flex-col items-start w-full gap-y-2"
  transition:persist="form-id"
>
  <Input
    id="id"
    autoComplete="on"
    maxLength={100}
    placeholder="User ID"
    {...form.inputProps.id}
  />
  <div>{hasError && hasError.id}</div>

  <Button
    type="submit"
    variant="outline"
    className="bg-fuchsia-300 text-black hover:bg-fuchsia-200"
  >
    Get User
  </Button>
</form>
<code>Server data: {user}</code>
