---
import { Button } from "@/components/ui/button";
import { Input } from "@/components/ui/input";
import MainLayout from "@/layouts/MainLayout.astro";
import { apiServer } from "@/server/backend";
import { createForm } from "simple:form";
import z from "zod";

let user = "";
const form = createForm({
  id: z.string().min(1),
});

const res = await Astro.locals.form.getData(form);
if (res?.data) {
  const response = await apiServer.user[":id"].$get({
    param: { id: res.data.id },
  });
  const data = await response.json();
  user = JSON.stringify(data, null, 2);
}

const hasError = res?.fieldErrors;
---

<MainLayout>
  <div class="flex flex-col gap-4">
    <form
      method="POST"
      class="flex flex-start gap-2"
      transition:persist="form-id"
    >
      <Button
        type="submit"
        variant="outline"
        className="bg-fuchsia-300 text-black hover:bg-fuchsia-200"
      >
        Search
      </Button>

      <Input
        id="id"
        autoComplete="off"
        placeholder="User ID"
        {...form.inputProps.id}
      />
    </form>

    <code>{user || (hasError ? hasError.id : null)}</code>
  </div>
</MainLayout>
