---
import Card from "@/components/Card.astro";
import Head from "@/layouts/Head.astro";
import { apiServer } from "@/server";
import { parsedApi } from "@/server/middleware";

// export const prerender = true;

const url = apiServer.status.$url().pathname;
const res = await parsedApi(
  apiServer.status.$get({
    query: { id: "id" },
  })
);
const auth = await parsedApi(
  apiServer.user[":id"].$get({
    param: { id: "id" },
  })
);

console.log(auth);
---

<Head title="SSS-VPN">
  <main>
    <img class="astro-a" width="495" height="623" src="/astro.svg" />
    <h1>
      <span class="text-gradient">Astro</span>
    </h1>

    <div class="link-card-grid" style="display: flex; flex-direction: column;">
      <ul role="list" class="link-card-grid">
        <Card
          href="https://docs.astro.build/"
          title="Documentation"
          body="Learn how Astro works and explore the official API docs."
        />
        <Card
          href="https://astro.build/themes/"
          title="Themes"
          body="Explore a galaxy of community-built starter themes."
        />
      </ul>
      <div class="instructions">
        <div style="color: green">{url}</div>
        <code>{JSON.stringify(res, null, 2)}</code>
      </div>
    </div>
  </main>
</Head>
