---
import Status from "@/components/Status";
import BaseLayout from "@/layouts/BaseLayout.astro";

export const prerender = true;
---

<BaseLayout title="Home">
  <h1>
    <span class="text-gradient">Welcome</span>
  </h1>
  <Status client:load />
</BaseLayout>
