---
import Status from "@/components/Status";
import BaseLayout from "@/layouts/BaseLayout.astro";

export const prerender = true;
---

<BaseLayout title="Home">
  <section class="mx-auto gap-4 px-4 py-14 sm:px-6 md:gap-8 lg:px-8">
    <h1>Welcome</h1>
    <Status client:load />
  </section>
</BaseLayout>
