---
import Header from "@/layouts/Header.astro";
import MainLayout from "@/layouts/MainLayout.astro";

export const prerender = true;
---

<MainLayout title="Privacy">
  <div class="container flex max-w-2xl flex-col gap-4 py-4">
    <Header title="Privacy Policy" />
    <hr />
    <p class="pb-12">
      Nothing fancy here, I won't sell or distribute any of your data. I don't
      store logs or payment details. Cookies are only for tracking your account
      login and troubleshooting. All financial data is handled by
      <a
        href="https://stripe.com/"
        target="_blank"
        class="text-primary-link underline">Stripe</a
      >.
    </p>

    <Header title="Terms and Conditions" />
    <hr />
    <p class="pb-12">
      The only thing I ask is, please
      <span class="text-destructive"> do not torrent </span>
      anything illegal. Otherwise, I'll have to shut everything down and then everyone
      will be sad. Thanks.
    </p>
  </div>
</MainLayout>
