---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { parsedApi } from "@/lib/utils";
import { apiServer } from "@/server/server";

export const prerender = false;

const { id = "" } = Astro.params;
const { data } = await parsedApi(
  apiServer.user[":id"].$get({
    param: { id },
  })
);
---

<BaseLayout title="User | SSS-VPN">
  <div class="instructions flex flex-col gap-4">
    <div class="text-2xl font-thin">PATH: /user/{id}</div>
    {
      data ? (
        <code>{JSON.stringify(data, null, 2)}</code>
      ) : (
        <code>User {id} not found!</code>
      )
    }
  </div>
</BaseLayout>
