---
import RedirectCheck from "@/components/RedirectCheck";
import { Toaster } from "@/components/ui/sonner";
import Base from "@/layouts/Base.astro";
import ThemeToggle from "@/pages/theme-toggle.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<Base title={title}>
  <header class="fixed flex w-full justify-end px-4 py-2">
    <Toaster position="top-center" richColors client:load />
    <ThemeToggle />
    <RedirectCheck client:load />
  </header>

  <main class="container mx-auto flex grow items-center justify-center px-4">
    <slot />
  </main>
</Base>
