---
import { Toaster } from "@/components/ui/sonner";
import BaseHead from "./BaseHead.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <!-- Prevent stylesheet flashing -->
    <style is:inline>
      html {
        visibility: hidden;
        opacity: 0;
      }
    </style>
    <BaseHead title={title} />
  </head>
  <body class="flex flex-col min-h-screen">
    <slot />
    <Toaster position="top-center" richColors client:load />
  </body>
</html>
