---
import AvatarMenu from "@/components/AvatarMenu";
import DashboardMenu from "@/components/DashboardMenu";
import DashboardMobileMenu from "@/components/DashboardMobileMenu";
import ThemeToggle from "@/components/ThemeToggle";
import { SITE_NAME } from "@/config/constants";
import { setupNewUser } from "@/db/mutations";
import Base from "@/layouts/Base.astro";
import Header from "@/layouts/Header.astro";

interface Props {
  title: string;
}
const { title } = Astro.props;
const { pathname } = Astro.url;

// Get session data
const { session, user } = Astro.locals;
if (!session) {
  Astro.redirect("/login");
  return;
}

// For verified first time users, setup their profile
const isVerified = user.emailVerified;
if (isVerified && !user.profile?.stripeCustomerId) {
  await setupNewUser(user);
}
---

<Base title={title}>
  <Header>
    <DashboardMobileMenu current={pathname} slot="mobile" client:load />
    <span class="text-nowrap text-xl md:inline-block" slot="left">
      {SITE_NAME}
    </span>

    <DashboardMenu current={pathname} slot="center" />

    <div class="flex items-center gap-x-4" slot="right">
      <ThemeToggle client:load />
      <AvatarMenu client:load />
    </div>
  </Header>

  <main class="container mx-auto gap-4 md:gap-8">
    <slot />
  </main>
</Base>
