---
import { SITE_EMAIL } from "@/config/constants";

const year = new Date().getFullYear();
---

<footer class="bg-muted text-muted-foreground py-8">
  <div
    class="container flex w-full items-center justify-between gap-4 md:px-8 xl:px-2"
  >
    <p
      class="text-muted-foreground text-center text-sm leading-loose md:text-left"
    >
      © {year} Built by
      <a
        href=`mailto:${SITE_EMAIL}`
        target="_blank"
        rel="noreferrer"
        class="font-medium underline underline-offset-2">me</a
      >
    </p>
    <p
      class="text-muted-foreground text-center text-sm leading-loose md:text-right"
    >
      <a href=`/privacy`>Privacy Policy</a>
    </p>
  </div>
</footer>
