---
import "@/css/main.css";
import Metadata from "./Metadata.astro";
import Scripts from "./Scripts.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Metadata />
    <Scripts />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
