---
import Analytics from "./Analytics.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Steve's Super Secret VPN" />
  <meta name="viewport" content="width=device-width" />
  <link rel="sitemap" href="/sitemap-index.xml" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />

  <!-- Custom scripts -->
  <script src="node_modules/snapsvg/dist/snap.svg-min.js" is:inline></script>
  <Analytics />

  <title>{title}</title>
</head>
