---
import { buttonVariants } from "@/components/ui/button";
import { cn } from "@/lib/utils";
import { Icon } from "astro-icon/components";
---

<section id="top" class="py-16 md:py-24">
  <div class="container flex flex-col items-center max-w-5xl text-center gap-6">
    <h1 class="text-balance font-heading text-4xl sm:text-5xl md:text-6xl lg:text-[66px]">
      Welcome to Steve's {" "}
      <span class="font-extrabold text-gradient"> Super Secret VPN </span>
    </h1>

    <p class="max-w-2xl leading-normal text-balance text-muted-foreground sm:text-xl sm:leading-8">
      Creative name I know... but if you're here, then you already know whats up <Icon
        name="mdi:face-cool"
        class="inline-block mb-1 size-6 text-primary"
      />
    </p>

    <div class="flex justify-center">
      <a href="/signup" class={cn(buttonVariants({}), "gap-2 rounded-full")}>
        <span>Get started for free</span>
        <Icon name="lucide:arrow-right" class="size-6" />
      </a>
    </div>
  </div>
</section>
