---
import { DesktopMenu } from "@/components/DesktopMenu";
import { MobileMenu } from "@/components/MobileMenu";
import { ThemeToggle } from "@/components/ThemeToggle";
import { Button } from "@/components/ui/button";
import { navigationMenuTriggerStyle } from "@/components/ui/navigation-menu";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Footer from "@/layouts/Footer.astro";
import Header from "@/layouts/Header.astro";
import { MainMenuLink } from "@/types";

const links: MainMenuLink[] = [
  {
    href: "/#about",
    label: "About",
  },
  {
    href: "/#features",
    label: "Features",
  },
  {
    href: "/#pricing",
    label: "Pricing",
  },
  {
    href: "/#faqs",
    label: "FAQs",
  },
];
---

<BaseLayout title="Home">
  <Header>
    <MobileMenu links={links} slot="mobile-menu" client:load />
    <DesktopMenu links={links} slot="center-header" />

    <div class="flex items-center gap-x-4" slot="right-header">
      <ThemeToggle client:load />
      <a
        href="/login"
        class={navigationMenuTriggerStyle({
          className:
            "pr-2 pl-2 bg-transparent hover:bg-transparent hover:text-muted-foreground focus:bg-transparent",
        })}
      >
        Login
      </a>

      <a href="/signup">
        <Button className="rounded-full">Get Started</Button>
      </a>
    </div>
  </Header>

  <main class="container mx-auto gap-4 md:gap-8">
    <slot />
  </main>

  <Footer />
</BaseLayout>
