---
import PricingForm from "@/components/PricingForm";
import { Button } from "@/components/ui/button";
import { ArrowRight } from "lucide-react";
---

<section id="pricing" class="container py-8 sm:py-16">
  <div class="py-8">
    <div class="flex flex-col items-center justify-center pb-3 mx-auto text-center gap-4">
      <h2 class="font-heading text-3xl leading-[1.1] sm:text-4xl md:text-5xl">Simple pricing</h2>
      <p class="max-w-lg leading-normal text-muted-foreground sm:text-lg sm:leading-7">
        Just some money for me to cover server costs, thanks. FYI, an hour of HD streaming uses around 1-2GB.
      </p>
    </div>

    <PricingForm />

    <div class="flex flex-col items-center justify-center mt-10 gap-4">
      <div class="leading-normal text-balance text-muted-foreground sm:text-lg sm:leading-7">
        Try it out first before picking a plan
      </div>
      <a href="/signup" data-astro-reload>
        <Button className="rounded-full" variant="secondary">
          Get started
          <ArrowRight className="size-6" />
        </Button>
      </a>
    </div>
  </div>
</section>
