---
import { DASHBOARD_LINKS } from "@/config/links";

interface Props {
  current: string;
}
const { current } = Astro.props;

const label = DASHBOARD_LINKS.filter((link) => link.href === current)?.[0]
  .label;
if (!label) return null;
---

<header class="md:hidden">
  <h1 class="py-6 text-2xl font-semibold text-foreground">
    {label}
  </h1>
  <hr class="border-t border-border" />
</header>
