---
import BaseLayout from "@/layouts/BaseLayout.astro";

export const prerender = true;
---

<BaseLayout title="Error">
  <div class="flex h-[90vh] items-center justify-center">
    <button
      class="btn rounded-xl bg-fuchsia-700 px-8 py-4 text-5xl hover:border hover:border-solid hover:border-slate-400 hover:bg-fuchsia-600 hover:shadow-xl"
      id="error"
    >
      Throw an error!
    </button>
  </div>
  <script>
    function handleClick() {
      throw new Error("This is an error.");
    }
    const button = document.getElementById("error")!;
    button.addEventListener("click", handleClick);
  </script>
</BaseLayout>
