---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { apiServer } from "@/server/backend";

// setTimeout(async () => {
await apiServer.error.$get();
// @ts-expect-error
fake_function(fake_variable);
// }, 1000);

// return Astro.redirect("/500");
---

<BaseLayout title="Error">
  <div class="flex h-[90vh] items-center justify-center">
    <h1 id="error">Server error in 3...2...1...</h1>
  </div>
</BaseLayout>
