---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { apiServer } from "@/server/backend";

export const prerender = false;

await apiServer.error.$get();
return Astro.rewrite("/500");
---

<BaseLayout title="Error">
  <div class="flex h-[90vh] items-center justify-center">
    <h1 id="error">Server error in 3...2...1...</h1>
  </div>
</BaseLayout>
